<div class="categorias">
    <select (change)="onChange($event)">
        <option value="selecciona">Selecciona categoría</option>
        <option value="carnes">Carnes</option>
        <option value="pescados">Pescados</option>
        <option value="postres">Postres</option>
        <option value="verduras">Verduras</option>
    </select>
</div>
<div class="posts">
    <div class="post" *ngFor="let post of posts">
        <h3>{{post.titulo}}</h3>
        <p>{{post.texto}}</p>
        <img [src]="post.imagen">
        <p>{{post.autor}}</p>
        <p>{{post.fecha}}</p>
        <p>{{post.categoria}}</p>
    </div>
</div>