.posts {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 20px 15px;
    height: auto;
    padding: 10px;
    border: 1px solid #5D5F71;
    overflow-wrap: break-word;
}

.post image {
    width: 100%;
}

.post h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #5D5F71;
    margin: 10px;
}

.post p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #5D5F71;
    margin: 10px;
}

.post .categoria {
    text-transform: capitalize;
}

.categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-family:'Playfair Display', serif;
    font-size: 20px;
    border: 1px solid #DABECA;
    background-color: #5D5F71;
    color: white;
    text-transform: uppercase;
}

select:hover {
    background-color:#8689a3 ;
}



