<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
    <label>Título</label>
    <input type="text" formControlName="titulo">

    <label>Texto</label>
    <textarea formControlName="texto">Escribe aquí tu receta</textarea>>

    <label>Autor</label>
    <input type="text" formControlName="autor">

    <label>Imagen</label>
    <input type="text" formControlName="imagen">

    <label>Fecha</label>
    <input type="date" formControlName="fecha">

    <label>Categoría</label>
    <select formControlName="categoria">
        <option value="carnes">Carnes</option>
        <option value="pescados">Pescados</option>
        <option value="postres">Postres</option>
        <option value="verduras">Verduras</option>
    </select>
    <input type="submit" value="Enviar" class="boton">
</form>